{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "no-multiline-str": 0,
    "camelcase": [0, { "properties": "never" }]
  },
  "env": {  
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}